<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SpringTest</display-name>


	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		 <!--
		 	DispatcherServlet 이 사용할 IoC 컨테이너의 타입을 지정해주는 역할
		 	이것을 명시하지 않으면 디폴트로 XML기반인 XmlWebApplicationContext 를 사용함  
		 --> 
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
		</init-param>
		
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>com.sinse.springtest.config.SpringConfig</param-value>
		</init-param>		
	</servlet>
	
	<!--
		/* 모든 요청 처리 ( 정적 자원까지 처리해서 문제 생김 ) 
		/   jsp 제외 모든 요청 처리
	  -->
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>		
	</servlet-mapping>
</web-app>