<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>notice</display-name>
	<!-- web.xml 은 서버 가동 시 읽어들인다.. 따라서 서버 가동 이후 그 코드가 변경되었다면
		서버를 재가동해야 한다..
	 -->	
	<servlet>
		<servlet-name>writeServlet</servlet-name>
		<servlet-class>com.sinse.notice.controller.WriteServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>writeServlet</servlet-name>
		<url-pattern>/notice/write</url-pattern>
	</servlet-mapping>

</web-app>



