<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.sinse.mall.domain.Notice"			alias="Notice"/>
		<typeAlias type="com.sinse.mall.domain.TopCategory" 	alias="TopCategory"/>
		<typeAlias type="com.sinse.mall.domain.SubCategory" 	alias="SubCategory"/>
		<typeAlias type="com.sinse.mall.domain.Product" 			alias="Product"/>
		<typeAlias type="com.sinse.mall.domain.Color" 				alias="Color"/>
		<typeAlias type="com.sinse.mall.domain.Size" 				alias="Size"/>
		<typeAlias type="com.sinse.mall.domain.ProductColor" 	alias="ProductColor"/>
		<typeAlias type="com.sinse.mall.domain.ProductSize" 	alias="ProductSize"/>
		<typeAlias type="com.sinse.mall.domain.ProductImg" 	alias="ProductImg"/>
		<typeAlias type="com.sinse.mall.domain.SnsProvider" 	alias="SnsProvider"/>
		<typeAlias type="com.sinse.mall.domain.Member" 		alias="Member"/>
		<typeAlias type="com.sinse.mall.domain.Cart" 				alias="Cart"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jndi/mysql" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/sinse/mall/mybatis/NoticeMapper.xml" />
		<mapper resource="com/sinse/mall/mybatis/TopCategoryMapper.xml" />
		<mapper resource="com/sinse/mall/mybatis/SubCategoryMapper.xml" />
		<mapper resource="com/sinse/mall/mybatis/ProductMapper.xml" />
		<mapper resource="com/sinse/mall/mybatis/ColorMapper.xml" />
		<mapper resource="com/sinse/mall/mybatis/SizeMapper.xml" />
		<mapper resource="com/sinse/mall/mybatis/ProductColorMapper.xml" />
		<mapper resource="com/sinse/mall/mybatis/ProductSizeMapper.xml" />
		<mapper resource="com/sinse/mall/mybatis/ProductImgMapper.xml" />
		<mapper resource="com/sinse/mall/mybatis/SnsProviderMapper.xml" />
		<mapper resource="com/sinse/mall/mybatis/MemberMapper.xml" />
		<mapper resource="com/sinse/mall/mybatis/CartMapper.xml" />
	</mappers>
</configuration>