<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SubCategory">
	
	<!-- SubCategory를 가져올 때 TopCategory도 가져오기
			SubCategory 모델 객체는 topcategory 멤버변수가 자동 매핑이 될 수 없으며,
			association으로 연결해야하기 때문에 resultMap을 사용한다.
	 -->
	 
	 <resultMap type="SubCategory" id="topcategoryMap">
	 	<id 			column="subcategory_id" 	property="subcategory_id"/>
	 	<result 	column="sub_name" 			property="sub_name" />
	 	
		<association column="topcategory_id" property="topcategory" javaType="TopCategory" 
							select="TopCategory.select"/>
	 </resultMap>
	
	<sql id="columns">
		subcategory_id, sub_name, topcategory_id
	</sql>
	
	<select id="selectByTopCategoryId" parameterType="int" resultMap="topcategoryMap">
		select <include refid="columns"/> from subcategory where topcategory_id=#{topcategory_id}
	</select>
	
	<select id="select" parameterType="int" resultMap="topcategoryMap">
		select <include refid="columns"/> from subcategory where subcategory_id = #{subcategory_id}
	</select>
	
</mapper>