<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TopCategory">
	<sql id="columns">
		select topcategory_id, top_name
	</sql>
	
	<resultMap type="TopCategory" id="subJoin">
		<id 			column="topcategory_id"	property="topcategory_id" />
		<result 	column="top_name" 		property="top_name" />
		
		<collection 
			column="topcategory_id"	property="subList" javaType="java.util.List"
			ofType="SubCategory"		select="SubCategory.selectByTopCategoryId" />
	</resultMap>
	
	<select id="selectAll" resultMap="subJoin">
		<include refid="columns"/> from topcategory
	</select>
	
	<select id="select" parameterType="int" resultType="TopCategory">
		<include refid="columns"/> from topcategory where topcategory_id=#{topcategory_id}
	</select>
	
	<insert id="insert" parameterType="TopCategory">
		insert into topcategory(top_name) values(#{top_name})
	</insert>
	
	<update id="update" parameterType="TopCategory">
		update topcategory set top_name=#{top_name} where topcategory_id=#{top_category_id}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from topcategory where topcategory_id=#{topcategory_id}
	</delete>
	
</mapper>